[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sentence-transformers = "*"
pypdf = "*"
python-dotenv = "*"
langchain-pinecone = "*"
pymupdf = "*"
langchain-core = "*"
langserve = "*"
langchain = "*"
langchain-groq = "*"
langchain-community = "*"
langchain-openai = "*"
pydantic = "*"
uvicorn = "*"
streamlit = "*"

[dev-packages]

[requires]
python_version = "3.11"
